body {
    font-family: var(--font-principal);
    background-color: #dadada;
    color: #333333;
}

.header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 50px);
    height: 70px;
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a {
    color: #2b2b2b;
    font-size: 1.25rem;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right a {
    color: #2b2b2b;
    font-size: 1.25rem;
}

.nav-right img {
    height: 25px;
}

.nav-right a:hover {
    opacity: 0.7;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #6920c9;
}