body,
html {
    font-family: var(--font-principal);
    background-color: #dadada;
    color: #333333;
    overflow-x: hidden;
}

main {
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 270px);
    /* height: 70px; */
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem 1.25rem;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a {
    color: #2b2b2b;
    font-size: 1.25rem;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right a {
    color: #2b2b2b;
    font-size: 1.25rem;
}

.nav-right img {
    height: 25px;
}

.nav-right a:hover {
    opacity: 0.7;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #6920c9;
}

/* Seção hero */
.hero-section {
    background: url(../images/banner/hero.jpg) no-repeat center center;
    height: 500px;
    position: relative;
    background-size: cover;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content {
    color: #ffff;
    max-width: 360px;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: #ffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
    line-height: 23px;
    text-align: center;
}


.btn-outline {
    background-color: transparent;
    border: 2px solid #ffff;
}

.btn-filled {
    background-color: #ffff;
    border: 2px solid;
    color: #6329A2;
}

.btn:hover {
    background-color: #6920c9;
    color: #ffff;
    border-color: #6329A2;
    text-align: right;
}

/*Product-card*/
.category-section {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    overflow: hidden;
    /*Usado para cortar tudo que "vaze" para fora desse contexto*/
}

.overlay {
    position: absolute;
    inset: 0;
    /*Propriedade que faz com que ela ocupe todo o espaço disponível do elemento pai*/
    background-color: rgb(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.category-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}



.casual {
    background-image: url(../images/products/casual.jpg);
    background-size: cover;
    background-position: center;
}

.esporte {
    background-image: url(../images/products/esporte.jpg);
    background-size: cover;
    background-position: center;
}

.moderno {
    background-image: url(../images/products/moderno.jpg);
    background-size: cover;
    background-position: center;
}

.futurista {
    background-image: url(../images/products/futurista.jpg);
    background-size: cover;
    background-position: center;
}

/*Seção grid de produtos*/

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;
}

.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.highlight {
    grid-area: highlight;
    background-image: url(../images/products/card_imagem.jpg);
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url(../images/products/roxo-verde-grid.jpg);
}

.model {
    grid-area: model;
    background-image: url(../images/products/modelo-feminino.jpg);
}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url(../images/products/futurista-grid.jpg);

}

.sneaker-white {
    grid-area: sneaker-white;
    background-image: url(../images/products/preto-branco-grid.jpg);

}

.sneaker-silver {
    grid-area: sneaker-silver;
    background-image: url(../images/products/moderno-grid.jpg);

}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 400;
    color: #d6d6d6;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #d6d6d6;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 10px;
}

/*footer*/
.site-footer {
    margin-top: 25px;
    background-color: #333333;
    color: white;
    padding: 40px;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 155px;
}

.footer-right {
    display: flex;
    gap: 3.125rem;
    flex-direction: column;
}

.footer-nav {
    display: flex;
    gap: 40px;
}

.footer-column {
    padding: 0;
    margin-top: 12px;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-nav li a {
    color: #d6d6d6;
    padding: 2px;
}

.footer-nav li a:hover {
    color: #d6d6d6;
    padding: 2px;
    text-decoration: underline;
}

.footer-nav strong {
    display: block;
    margin-bottom: 10px;
    color: #fcfaff;
    font-size: 1.25rem;
    padding: 0;
    font-weight: 400;
}

.footer-social ul {
    display: flex;
    gap: 16px;
    padding: 0;
}


.newsletter-form input {
    border-radius: 30px;
    color: #313131aa;
    padding: 12px;
    width: 344px;
}

.newsletter-form {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.footer-social ul li a:hover {
    opacity: 0.7;
}

.footer-copy {
    text-align: center;
    margin-top: 30px;
    color: #d6d6d6;
    border-top: 1px solid #555;
}

/*Menu responsivo*/

.nav-container {
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    gap: 2rem;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

/*Responsividade*/
@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 50px;
        left: 10px;
        right: 10px;
        width: auto;
        transform: none;
        padding: 0.5rem 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .menu-icon {
        display: block;
    }

    .nav-container {
        position: fixed;
        top: 85px;
        width: min(70vw, 180px);
        height: calc(100vh - 140px);
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 20px;
        background-color: #fff;
        gap: 2rem;

        right: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease;

        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    .nav-center,
    .nav-right {
        /* width: 100%; */
        text-align: center;

    }

    .nav-center li,
    .nav-right li {
        text-align: center;

    }

    .nav-center ul,
    .nav-right ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        align-items: center;

        padding-left: 0;
        /*Depois de muito bater cabeca foi isso que faltava para ficar perfeitamente alinhado ao centro*/
        margin: 0;
        list-style: none;

    }

    /* .nav-center ul li,
    .nav-right ul li {
        width: 100%;
    } */

    .nav-center a,
    .nav-right a {
        display: inline-block;
        border-bottom: 1px solid #eeeeee;
        padding: 0.3rem 0;
        font-size: 1rem;
    }

    .menu-toggle:checked~.nav-container {
        transform: translateX(0);
    }

    main {
        padding: 0.625rem;
    }

    .hero-section {
        height: 660px;
        background-image: url(../images/banner/hero-mobile.jpg);
        background-size: cover;
        background-position: center;
    }

    .hero-section .hero-title {
        font-size: 1.5rem;
    }

    .hero-section .hero-subtitle {
        font-size: 1.25rem;
    }

    .hero-content {
        max-width: 330px;
        margin: 0 auto;
    }

    .btn {
        font-size: 1.2rem;
    }

    .hero-overlay {
        justify-content: center;
        padding: 0 1.5rem;
    }

    .category-card {
        width: 100%;
    }

    .grid-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "highlight highlight"
            "sneaker-white sneaker-white"
            "model sneaker-color"
            "model sneaker-silver";
        max-width: 100%;
        gap: 0.625rem;
    }

    .highlight {
        min-height: 500px;
    }

    .model {
        min-height: 370px;
    }

    .sneaker-white,
    .sneaker-purple {
        min-height: 190px;
    }
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        gap: 20px;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-nav {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-social ul {
        gap: 1rem;
    }

    .footer-copy{
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }


}